<%= bootstrap_form_for(@linecomment, :remote => true, :namespace => params[:uid]) do |f| %>
    <%= f.hidden_field :submission_id, value: params[:sid] %>
    <%= f.hidden_field :file_name, value: params[:fn] %>
    <%= f.hidden_field :line, value: params[:line] %>
    <%= f.text_area :comment, rows: 10 %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
