<%= form_for(@exam_grade) do |f| %>
  <% if @exam_grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam_grade.errors.count, "error") %> prohibited this exam_grade from being saved:</h2>

      <ul>
      <% @exam_grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :points %><br>
    <%= f.number_field :points %>
  </div>
  <div class="field">
    <%= f.label :mark %><br>
    <%= f.number_field :mark %>
  </div>
  <div class="field">
    <%= f.label :info %><br>
    <%= f.text_area :info %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :exam_id %><br>
    <%= f.text_field :exam_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
