<p id="notice"><%= notice %></p>

<h1>Listing Exam Grades</h1>

<table>
  <thead>
    <tr>
      <th>Points</th>
      <th>Mark</th>
      <th>Info</th>
      <th>User</th>
      <th>Exam</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exam_grades.each do |exam_grade| %>
      <tr>
        <td><%= exam_grade.points %></td>
        <td><%= exam_grade.mark %></td>
        <td><%= exam_grade.info %></td>
        <td><%= exam_grade.user %></td>
        <td><%= exam_grade.exam %></td>
        <td><%= link_to 'Show', exam_grade %></td>
        <td><%= link_to 'Edit', edit_exam_grade_path(exam_grade) %></td>
        <td><%= link_to 'Destroy', exam_grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exam grade', new_exam_grade_path %>
