<h1>Meine Gruppe <small>(<%= @current_course.title %>)</small></h1>
<p>Tutor: <%= @current_group.tutor.name %></p>
<h3>zugeordnete Studenten</h3>
<p>Alle eingeschriebene Studenten für aktuelle Gruppe</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <% @current_course.exercise_sheets.order(:order).each_with_index do |sheet, idx| %>
        <th>Blatt <%= sheet.order %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @assigned_students.each do |student| %>
      <% 
    punkte = Array.new(@current_course.exercise_sheets.count) 

p = PointsCache.where(user: student).joins(:exercise_sheet).pluck(:points, :exercise_sheet_id)
p.each do |pp, i|
  punkte[@bl_id_to_pos[i]]=pp
end
    %>
      <tr>
        <td><%= link_to "#{student.name}", profile_path(student.id) %></td>
        <td><%= student.email %></td>
        <% @current_course.exercise_sheets.each_with_index do |sheet, idx| %>
          <td><%= punkte[idx] unless punkte[idx].nil? %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>